In [22]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# ------------------------------------------------------------------------------
from scipy.stats import shapiro, kstest

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [40]:
df = pd.read_csv("Dataset_con_Localizaci_n_Madrid.csv")

df.head()

,gender,sexual_orientation,location_type,income_bracket,education_level,interest_tags,app_usage_time_min,app_usage_time_label,swipe_right_ratio,swipe_right_label,likes_received,mutual_matches,profile_pics_count,bio_length,message_sent_count,emoji_usage_rate,last_active_hour,swipe_time_of_day,match_outcome,madrid_location
0,Prefer Not to Say,Gay,Urban,High,Bachelor’s,"Fitness, Politics, Traveling",52,Moderate,0.60,Optimistic,173,23,4,44,75,0.36,13,Early Morning,Mutual Match,Chamberí
1,Male,Bisexual,Suburban,Upper-Middle,No Formal Education,"Languages, Fashion, Parenting",279,Extreme User,0.56,Optimistic,107,7,3,301,35,0.42,0,Morning,Chat Ignored,Las Rozas
2,Non-binary,Pansexual,Suburban,Low,Master’s,"Movies, Reading, DIY",49,Moderate,0.41,Optimistic,91,27,2,309,33,0.41,1,After Midnight,Date Happened,Parla
3,Genderfluid,Gay,Metro,Very Low,Postdoc,"Coding, Podcasts, History",185,Extreme User,0.32,Balanced,147,6,5,35,5,0.07,21,Morning,No Action,Lavapiés
4,Male,Bisexual,Urban,Middle,Bachelor’s,"Clubbing, Podcasts, Cars",83,High,0.32,Balanced,94,11,1,343,34,0.11,22,After Midnight,One-sided Like,Usera

In [41]:
# reviso el tamaño del df

print(f"El número de filas que tenemos es {df.shape[0]}, y el número de columnas es {df.shape[1]}")

El número de filas que tenemos es 50000, y el número de columnas es 20

In [42]:
df["gender"].unique()

array(['Prefer Not to Say', 'Male', 'Non-binary', 'Genderfluid', 'Female',
       'Transgender'], dtype=object)

In [43]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
app_usage_time_min,50000.0,149.912400,86.990521,0.0,74.00,150.00,225.00,300.00
swipe_right_ratio,50000.0,0.500655,0.197468,0.0,0.37,0.50,0.64,1.00
likes_received,50000.0,99.526040,57.996799,0.0,49.00,100.00,150.00,200.00
mutual_matches,50000.0,13.870280,9.105615,0.0,6.00,13.00,22.00,30.00
profile_pics_count,50000.0,2.987720,1.996780,0.0,1.00,3.00,5.00,6.00
bio_length,50000.0,250.174400,144.800996,0.0,125.00,250.00,376.00,500.00
message_sent_count,50000.0,50.071940,29.168000,0.0,25.00,50.00,75.00,100.00
emoji_usage_rate,50000.0,0.286205,0.160042,0.0,0.16,0.27,0.39,0.94
last_active_hour,50000.0,11.521800,6.920474,0.0,5.00,12.00,18.00,23.00

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gender                50000 non-null  object
 1   sexual_orientation    50000 non-null  object
 2   location_type         50000 non-null  object
 3   income_bracket        50000 non-null  object
 4   education_level       50000 non-null  object
 5   interest_tags         50000 non-null  object
 6   app_usage_time_min    50000 non-null  int64
 7   app_usage_time_label  50000 non-null  object
 8   swipe_right_ratio     50000 non-null  float64
 9   swipe_right_label     50000 non-null  object
 10  likes_received        50000 non-null  int64
 11  mutual_matches        50000 non-null  int64
 12  profile_pics_count    50000 non-null  int64
 13  bio_length            50000 non-null  int64
 14  message_sent_count    50000 non-null  int64
 15  emoji_usage_rate      50000 non-null  float64
 16  last_active_hour      50000 non-null  int64
 17  swipe_time_of_day     50000 non-null  object
 18  match_outcome         50000 non-null  object
 19  madrid_location       50000 non-null  object
dtypes: float64(2), int64(7), object(11)
memory usage: 7.6+ MB

In [45]:
df.duplicated().sum()

np.int64(0)

In [46]:
df.nunique()

gender                      6
sexual_orientation          8
location_type               6
income_bracket              7
education_level             9
interest_tags           40206
app_usage_time_min        301
app_usage_time_label        7
swipe_right_ratio         101
swipe_right_label           4
likes_received            201
mutual_matches             31
profile_pics_count          7
bio_length                501
message_sent_count        101
emoji_usage_rate           93
last_active_hour           24
swipe_time_of_day           6
match_outcome              10
madrid_location            21
dtype: int64

In [47]:
df.isna().sum() / df.shape[0] *100

gender                  0.0
sexual_orientation      0.0
location_type           0.0
income_bracket          0.0
education_level         0.0
interest_tags           0.0
app_usage_time_min      0.0
app_usage_time_label    0.0
swipe_right_ratio       0.0
swipe_right_label       0.0
likes_received          0.0
mutual_matches          0.0
profile_pics_count      0.0
bio_length              0.0
message_sent_count      0.0
emoji_usage_rate        0.0
last_active_hour        0.0
swipe_time_of_day       0.0
match_outcome           0.0
madrid_location         0.0
dtype: float64

In [48]:
duplicados = df.duplicated().sum()
print(f"Filas duplicadas encontradas: {duplicados}")

Filas duplicadas encontradas: 0

In [49]:
for columna in df:
    print(f'La columna {columna} tiene estos valores únicos:')
    print(df[columna].unique())
    print('----------------------------')

La columna gender tiene estos valores únicos:
['Prefer Not to Say' 'Male' 'Non-binary' 'Genderfluid' 'Female'
 'Transgender']
----------------------------
La columna sexual_orientation tiene estos valores únicos:
['Gay' 'Bisexual' 'Pansexual' 'Lesbian' 'Asexual' 'Queer' 'Straight'
 'Demisexual']
----------------------------
La columna location_type tiene estos valores únicos:
['Urban' 'Suburban' 'Metro' 'Small Town' 'Remote Area' 'Rural']
----------------------------
La columna income_bracket tiene estos valores únicos:
['High' 'Upper-Middle' 'Low' 'Very Low' 'Middle' 'Lower-Middle'
 'Very High']
----------------------------
La columna education_level tiene estos valores únicos:
['Bachelor’s' 'No Formal Education' 'Master’s' 'Postdoc' 'Associate’s'
 'High School' 'Diploma' 'PhD' 'MBA']
----------------------------
La columna interest_tags tiene estos valores únicos:
['Fitness, Politics, Traveling' 'Languages, Fashion, Parenting'
 'Movies, Reading, DIY' ... 'Traveling, Fitness, Stand-up Comedy'
 'Gaming, Motorcycling, Art' 'Skating, Astrology, Hiking']
----------------------------
La columna app_usage_time_min tiene estos valores únicos:
[ 52 279  49 185  83 138 161 219  32 150 191 123 216 121  97  47 146  31
 120 160 259   4 107 170 210 116  14  59 194 164 158 253  62  81 277 214
 207  25 276  58 294 289 137 108 250 156 118 268  27 129 285  30   1 135
 157 224 295 209 165 255 122 260 141 247 242 233 273 222 220 254 176 292
  20 203 190  10   8 231 251 271 204 159 142 173 110  41 249 167  21  40
  75 296  28 196 230 186 145  43 109 172 225 171 270 274  89 223 217 218
 187 177 184  37  64 174 238 298 206 143  23 153 245 211 269 152 278 103
  51 147  95 252 151  60 244 105 241 237  16 205 284 275 130 183  74  77
  48 126 227 166 100 192  55 113 243  84 221 198 293 134 263  24 154 119
 179 162   7  70 188 283 125 297 201 155 133  65 181  90 193 267 234 264
 127 235 144  29 266  67  78 280  38  57  66 197  54 262  91 115  88  79
 111 195 199 148 200 128 228 189 140 180  76  82 112  35  19  22 104  26
 265  80 286 101  94 139  46   9  98   6 281  17 291  50 163 136 240 106
 132  11  44  87 149 175   0  72 212  73  71  69  93 256  13  34 236 248
 168  56 117 290 226 282 202  53  15  18   2 213 229  86  45  12  33 300
 215  68 258  36  96   5 257  39 182 232  92 178 239 131 261 288  63 299
  61 102  85 124 272  42 169  99 208 114   3 246 287]
----------------------------
La columna app_usage_time_label tiene estos valores únicos:
['Moderate' 'Extreme User' 'High' 'Addicted' 'Barely' 'Very Low' 'Low']
----------------------------
La columna swipe_right_ratio tiene estos valores únicos:
[0.6  0.56 0.41 0.32 0.62 0.38 0.47 0.23 0.68 0.53 0.71 0.28 0.49 0.46
 0.65 0.54 0.57 0.88 0.17 0.5  0.78 0.52 0.19 0.66 1.   0.74 0.87 0.31
 0.35 0.85 0.72 0.69 0.2  0.64 0.43 0.51 0.67 0.34 0.83 0.25 0.59 0.97
 0.76 0.14 0.44 0.26 0.36 0.55 0.37 0.8  0.75 0.58 0.12 0.77 0.48 0.15
 0.29 0.45 0.22 0.7  0.82 0.13 0.39 0.99 0.04 0.24 0.08 0.81 0.73 0.63
 0.4  0.61 0.79 0.21 0.02 0.27 0.93 0.9  0.3  0.   0.84 0.33 0.11 0.16
 0.91 0.86 0.18 0.09 0.06 0.1  0.89 0.42 0.92 0.05 0.07 0.98 0.94 0.96
 0.01 0.03 0.95]
----------------------------
La columna swipe_right_label tiene estos valores únicos:
['Optimistic' 'Balanced' 'Swipe Maniac' 'Choosy']
----------------------------
La columna likes_received tiene estos valores únicos:
[173 107  91 147  94 163  54 149  98 111 195 145  86  71 168 137 192 108
 191 103  61  67 170 183 197   9  90 171  57  29 169 119 102 116 190  60
 185  66  13 144 200 162  82 142  30 152 141 122 156 104 160  20  10  85
 181 180  88   3  97  25  37 150 198  79  93  27  12  70  44 128 182  75
 106  33 146  89  96  69 134  83 101 114 118  26  95  64  87 196 113   4
  92 199 131  42  32  31  11  62 155  48 159 151  78  43 176 105  34  63
  39  19   8 172 112 126 121  52 140 125   2 135  23  45  84 117 130  24
 189 177 124   7  16  40 109 178  35 157  14 179  38  22 188  36  51  41
  76  99 167   1  72 127 123 129  15  17  21 175 139 165 148  59  47  58
 153  73 143  80 138  53 184 161   5   6 120 158 187  55  81  56 115  49
  77 193 154 110   0  18  28  65  46 194 166 100 133 186 136 132 174  50
  68 164  74]
----------------------------
La columna mutual_matches tiene estos valores únicos:
[23  7 27  6 11 22 20 12  5 30 29  0 21 13 14 10  3  8  4 26 24 28 25  1
 18  9 19  2 16 17 15]
----------------------------
La columna profile_pics_count tiene estos valores únicos:
[4 3 2 5 1 0 6]
----------------------------
La columna bio_length tiene estos valores únicos:
[ 44 301 309  35 343 112 202 239   1 488  43 386 283 109 216  85 401  25
 126  67 451 153 351 134 282 452 415  98  91  97 368 315 345  75 335 237
 230 163 105 279 108 332 238 203 272 235 425 174 353 242 161 426 483  33
 305  50 304 411 291 455 265  53 442  26 427 212 390 195 445 320 360 210
 236 492 358 310  17 467 404 241 484 372 278 124  66  64  22  37 160 300
 259 219 217  23 382 471 485 381 131 329 158 175 198 336 248 385 398 364
 146 147 123 176 356 458 421 179 383  16 142 469 277 155 273 295 350 441
 255 144  60 170 424 446 369 256 394 419  30 474 196 207  31  46 130  92
 178 392 111 338 482 115  40 468 262 478 172 328 233 274 136 193 117 378
 324 137  52 211 102 201 298 340 285  89 314  58  93 476 417  69 346 495
  47  61 416 470  71 151 429 472  42 473 254  32 461  12 497 326 167  20
 437 205  21 140  70 498 119 374   0  39  51  87  80 226 263  90 399 331
 154 246 410 448 181 209 107  19 159 222 428 322  54 352 463  57 447  49
 173 214 280 267 243 276 449   3  73 156  99 297 223 430 302 261 308  11
 264 406  79   2 204 493 150 457 182 444 177 185 249 120 268 127  77 200
 377 266 224 397 164 475 370 171  76 221 396 436 269 138 168  74 118  94
 103 194 232  83  28 313 409 375 477 327   7 317 339 260 462 271 439 362
 393 418 491 405 413 294 227 234 250   8 189 414 149 316 225  62 496 157
 479 287 464 139 487 116 208  59 347 258  24 128 380 440 412 365 438 162
  27 299 348 206  55 431 148  82 125   5 143 387 190 325 292 215 289 166
  45 132 402  63  10 337 114  29 307 101 466 500 480 122 420 389   6 281
 229 197 251 481  13  14 275 257 188 355 465 435  65 379 408 373 434 191
 363 245 384 494  96 354 403 184 244 432  18 186 183 321 333 110  78 311
  88 169 330 489 490 133 306 220 367 318 296 450  95 391  48 135 284 319
 433 453  84  36 400   9  56 228 218 460 342 187 344 312  68 253 361 499
 231 213 341 303 422 165 252 459  38 288 106 454 199 240 129 388 290 247
 100 371  15 141 395 456  34 349 376 113 152 443 192 359 486 270 334 366
  81 407 104 357   4 293  86  41 323 180 286 423 121  72 145]
----------------------------
La columna message_sent_count tiene estos valores únicos:
[ 75  35  33   5  34  87  82  17  67  92  99  93  29  69  52  23  71  74
  85   8  84  81  20  18  31  51  32  38  72  27   3  88  53  77  16  58
  89  91  54  90  11  60  70  15  24  79  97  25  36  55  83  65  26   1
  61  43  49  12  37  45  50   4  19  94  10  62  28   9  59  42  48  95
  66   6  30  64  57  86  21  63  68  44  98  22  47   0   2  96   7  46
  56  39  73  40  76  14  78  13  41 100  80]
----------------------------
La columna emoji_usage_rate tiene estos valores únicos:
[0.36 0.42 0.41 0.07 0.11 0.18 0.32 0.54 0.27 0.57 0.13 0.43 0.23 0.08
 0.39 0.31 0.2  0.19 0.68 0.29 0.12 0.28 0.16 0.17 0.06 0.24 0.25 0.71
 0.22 0.66 0.1  0.4  0.33 0.51 0.03 0.09 0.38 0.04 0.45 0.15 0.55 0.34
 0.5  0.47 0.62 0.58 0.46 0.52 0.14 0.61 0.21 0.02 0.49 0.69 0.48 0.37
 0.64 0.26 0.05 0.3  0.56 0.35 0.6  0.72 0.63 0.53 0.44 0.59 0.7  0.01
 0.84 0.   0.79 0.73 0.77 0.74 0.75 0.86 0.76 0.67 0.65 0.82 0.8  0.81
 0.78 0.91 0.87 0.89 0.83 0.88 0.85 0.94 0.9 ]
----------------------------
La columna last_active_hour tiene estos valores únicos:
[13  0  1 21 22 10 14 16  8 23 15 18  4 19 20  7  3  9  2 12  6 17 11  5]
----------------------------
La columna swipe_time_of_day tiene estos valores únicos:
['Early Morning' 'Morning' 'After Midnight' 'Evening' 'Late Night'
 'Afternoon']
----------------------------
La columna match_outcome tiene estos valores únicos:
['Mutual Match' 'Chat Ignored' 'Date Happened' 'No Action'
 'One-sided Like' 'Blocked' 'Relationship Formed' 'Catfished' 'Ghosted'
 'Instant Match']
----------------------------
La columna madrid_location tiene estos valores únicos:
['Chamberí' 'Las Rozas' 'Parla' 'Lavapiés' 'Usera' 'Otro' 'Centro'
 'Majadahonda' 'Tetuán' 'La Latina' 'Pinto' 'Getafe' 'Alcorcón'
 'Arganzuela' 'Salamanca' 'Fuenlabrada' 'Carabanchel' 'Moncloa' 'Retiro'
 'Pozuelo de Alarcón' 'Leganés']
----------------------------

In [50]:
# Detecto las columnas objects:

col_objects = df.select_dtypes(include='object').columns.tolist()

col_objects

['gender',
 'sexual_orientation',
 'location_type',
 'income_bracket',
 'education_level',
 'interest_tags',
 'app_usage_time_label',
 'swipe_right_label',
 'swipe_time_of_day',
 'match_outcome',
 'madrid_location']

In [51]:
# hago una funcion de limpieza de texto.

def limpiar_texto(col):
    return col.str.strip().str.title() # .strip -> elimino espacios  // paso a Title para respetar los nombres propios.

In [52]:
# aplico la funcion a mis columnas categoricas.

for col in col_objects:
    df[col] = limpiar_texto(df[col])

col_objects

['gender',
 'sexual_orientation',
 'location_type',
 'income_bracket',
 'education_level',
 'interest_tags',
 'app_usage_time_label',
 'swipe_right_label',
 'swipe_time_of_day',
 'match_outcome',
 'madrid_location']

In [53]:
# Generar edades entre 18 y 50
np.random.seed(42)  # para que sea reproducible
df["age"] = np.random.randint(18, 51, size=len(df))

In [54]:
df["age"].head()

0    46
1    32
2    25
3    38
4    36
Name: age, dtype: int64

In [56]:
df.sample(3)

,gender,sexual_orientation,location_type,income_bracket,education_level,interest_tags,app_usage_time_min,app_usage_time_label,swipe_right_ratio,swipe_right_label,likes_received,mutual_matches,profile_pics_count,bio_length,message_sent_count,emoji_usage_rate,last_active_hour,swipe_time_of_day,match_outcome,madrid_location,age
22481,Male,Pansexual,Urban,Low,Phd,"Skating, Traveling, Makeup",117,High,0.44,Optimistic,65,9,1,341,88,0.18,10,Early Morning,One-Sided Like,Tetuán,33
19500,Non-Binary,Queer,Remote Area,Lower-Middle,No Formal Education,"Investing, Coding, Parenting",299,Extreme User,0.57,Optimistic,106,5,4,464,0,0.21,4,Morning,Chat Ignored,Otro,49
47412,Non-Binary,Pansexual,Metro,Middle,Associate’S,"Spirituality, Pets, Anime",118,High,0.84,Swipe Maniac,158,17,4,58,92,0.38,19,Early Morning,Date Happened,Lavapiés,32

In [57]:
df["madrid_location"].unique()

array(['Chamberí', 'Las Rozas', 'Parla', 'Lavapiés', 'Usera', 'Otro',
       'Centro', 'Majadahonda', 'Tetuán', 'La Latina', 'Pinto', 'Getafe',
       'Alcorcón', 'Arganzuela', 'Salamanca', 'Fuenlabrada',
       'Carabanchel', 'Moncloa', 'Retiro', 'Pozuelo De Alarcón',
       'Leganés'], dtype=object)

In [58]:
df["madrid_location"].value_counts()

madrid_location
Otro                  25193
Tetuán                 1987
Usera                  1943
Carabanchel            1910
La Latina              1687
Centro                 1677
Lavapiés               1671
Arganzuela             1640
Moncloa                1618
Parla                  1587
Pinto                  1584
Fuenlabrada            1549
Salamanca               815
Majadahonda             805
Las Rozas               802
Pozuelo De Alarcón      800
Chamberí                790
Retiro                  773
Leganés                 402
Getafe                  387
Alcorcón                380
Name: count, dtype: int64